body {
    border:3px solid black;
}

#timer {
    /* puts the timer in the top right corner */
    position:absolute;
    top: 0px;
    right: 10px; 
}

.button,
ol li button {
    background-color: purple;
    color:White;
}

.button:hover,
.wrong0:hover,
.wrong1:hover,
.wrong2:hover,
.wrong3:hover,
.correct:hover {
    background-color: blueviolet;
}

#h1PG1,
#pPG1 {
    text-align: center;
}

#start {
    margin: auto;
}

#quizBox {
    text-align: center;
    margin: auto;
}